---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title | default: "Posts" }}</h1>
  
  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts limit:5 %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if post.excerpt -%}
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>